<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalles evento</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Index.css}">
</head>
<body>
	<header>
		<nav id="nav">
			<div id="cont_logo">
				<img id="logo" src="/img/Logo.png" />
			</div>
			<div id="botones">
				<button id="volver">
					<a th:href="@{/}">Volver a inicio</a>
				</button>
			</div>
		</nav>
	</header>
<main>
	<h1>Detalle del evento seleccionado</h1>
	<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Aforo</th>
			<th>Dirección</th>
			<th>Duración</th>
			<th>Fecha de inicio</th>
			<th>Mínimo asistencia</th>
			<th>Precio</th>
		</tr>
		<tr>
			<td th:text="${evento.nombre}"></td>
			<td th:text="${evento.descripcion}"></td>
			<td th:text="${evento.aforoMaximo}"></td>
			<td th:text="${evento.direccion}"></td>
			<td th:text="${evento.duracion}"></td>
			<td th:text="${evento.fechaInicio}"></td>
			<td th:text="${evento.minimoAsistencia}"></td>
			<td th:text="${evento.precio}"></td>
		</tr>
	</table>
		<section>
			<article>
				<h3>
					Quedan : <span></span>
				</h3>
			</article>
			<article>
				<label>Cantidad a reservar :</label>
				<input id="cant" type="number" min="1" max="10" step="1" />
			</article>
			<br>
			<button>
				<a th:href="@{/misReservas}">Reservar</a>
			</button>
		</section>
</main>

</body>
</html>