<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{css/Index.css}">
</head>
<body>
<h1>Iniciar sesión</h1>
	<h2 th:text="${mensaje}"></h2>
	<form th:action="@{/signup}" method="post" th:object="${usuario}">
		<input type="text" th:field="*{username}" placeholder="Username"> 
		<input type="text" th:field="*{password}" placeholder="Contraseña"> 
		<button type="submit">Iniciar sesión</button>
	</form>

</body>
</html>