<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/Index.css}">
</head>
<body>
	<main>
		<h2 th:text="${mensaje}"></h2>
		<h1>Iniciar sesión</h1>
		<form th:action="@{/login}" th:object="${usuario}" method="post">
			<label>Indique su usuario : </label> 
			<input type="text" th:field="*{username}" placeholder="Username"> <br> <br> 
			<label>Inserte su contraseña : </label> 
			<input type="text" th:field="*{password}" placeholder="Contraseña"> <br><br> 
			<br>
			<button type="submit">Iniciar sesión</button>
			<button>
				<a th:href="@{/signup}">Registrate aquí</a>
			</button>
		</form>
		<br>
		<br>
	</main>
</body>
</html>